@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0E8FF url(/images/pattern-background-mobile.svg);
    background-repeat: repeat-x;
    height: 100vh;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
}
.card {
    text-align: center;
    background: white;
    max-width: 327px;
    border-radius: 20px;
    width: max-content;
}
.card__image {
    max-width: 327px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 32px;
    display:block;
}
.card__header {
    margin-bottom: 18px;

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.06em;
    color: hsla(223, 47%, 23%, 1);

}
.order-summary {
    margin-left: 38px;
    margin-right: 38px;
    max-width: 251px;
    margin-bottom: 25px;

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: hsla(224, 23%, 55%, 1);

}

.plan {
    margin-left: 24px;
    margin-right: 24px;
    
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "music-icon plan change-btn "
    "music-icon price change-btn";
    background: hsl(252, 100%, 98%);
    border-radius: 15px;
    padding: 1rem 1rem;
    margin-bottom: 24px;
    max-width: 278px;
}


.music-icon {
    grid-area: music-icon;
    justify-self: center;
    align-self: center;    
}
.plan-name {
    grid-area: plan;
    margin-left: 19px;
    text-align: left;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;    
    color: hsla(223, 47%, 23%, 1);

}
.price {
    grid-area: price;
    margin-left: 19px;
    text-align: left;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: hsla(224, 23%, 55%, 1);

}
.change-btn {
    grid-area: change-btn;
    justify-self: center;
    align-self: center;

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
}

.payment-btn,
.cancel-btn {
    display: block;
    text-decoration: none;
    margin-left: 24px;
    margin-right: 24px;
}

.payment-btn {
    color: hsl(255, 100%, 98%, 1);
    background: hsl(245, 75%, 52%, 1);
    padding: 12px 0;
    margin-bottom: 21px;
    border-radius: 10px;
    
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.02em;
    
}
.cancel-btn {
    margin-bottom: 29px;

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.01em;
    color: hsla(223, 47%, 23%, 1);

}

@media only screen and (min-width:1440px){
 body {
    background: #E0E8FF url(/images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
 } 
 .card, .card__image {
     max-width: 450px;
 }
 .card__image {
     margin-bottom: 47px;
 }
 .card__header {
    font-size: 26px;
    line-height: 34px;
 }
 .order-summary{
    max-width: 323px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    line-height: 26px;
 }
 .plan, .payment-btn, .cancel-btn {
    margin-left: 48px;
    margin-right: 48px;
 }
 .plan {
     max-width: 354px;
     margin-bottom: 32px;
 }
 .payment-btn {
     margin-bottom: 29px;
 }
 .cancel-btn {
     margin-bottom: 45px;
 }

 .plan-name {   
    margin-top: 6px;
    margin-bottom: 9px;    
    font-size: 1rem;
 }
 .price {
    margin-bottom: 9px;   
    font-size: 1rem;

 }
}